/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav .button {
    color: white;
    background-color: #0056b3;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

nav .button:hover {
    background-color: #004080;
}

main {
    padding: 20px;
    padding-bottom: 200px; /* Отступ снизу */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Стили для подсветки кода */
pre {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: "Courier New", Courier, monospace;
}
